<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Create a new Puppy using the form:</h1>
      <p>Name: \n<%= @name %></p>
      <p>Breed: \n<%= @breed %></p>
      <p>Age: \n<%= @age %></p>
  </body>
</html>
